<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理员</title>
</head>
<body>
    <h1>管理员登录</h1>
    <form id="login-form" method="post">
        <label for="account">账号</label>
        <input type="account" id="account" name="account" required><br><br>
        <label for="password">密码</label>
        <input type="password" id="password" name="password" required><br><br>
        <button type="submit">登录</button>
    </form>
    <script>
        document.querySelector("#login-form").addEventListener("submit", function (event) {
          event.preventDefault();
          var form = new FormData(this);
          fetch("/admin", {
            method: "POST",
            body: form
          }).then(function (response) {
            return response.json();
          }).then(function (result) {
            if (result.msg === "登录成功") {
              alert("登录成功");
              window.location.href = "/admin/index";
            } else {
              alert(result.msg);
            }
          }).catch(function (error) {
            alert(error);
          });
        });
      </script>
</body>
</html>