<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>
</head>
<body>
    <h1>图书馆管理系统-用户界面</h1>
    <p>欢迎使用图书馆管理系统,{{ .useraccount }}</p>
    <nav>
        <ul>
            <li><a href="/index/serchbook">查书</a></li>
            <li><a href="/index/borrowbook">借书界面</a></li>
            <li><a href="/index/returnbook">还书界面</a></li>
            <li><a href="/index/history">借阅历史界面</a></li>
        </ul>
    </nav>
</body>
</html>